
/*******************    MAIN COLORS   *******************/
$primary-color: #1851A0; /* Основной синий (используется в шапке). */
$primary-light-color: #1958B7;
$accent-color: #259BE1; /* Цвет активных ссылок и иконок. */
$icon-color: #4973BB; /* Цвет иконок */
$icon-hover-color: #ecf1f8;
$text-color: #F4F3F2;

$yellow-color: #fdd835;
$green-color: #368900;
$material-green: #3fa300;
$parent-group: #0435a1;


$label-color: #b0b0b0;

/*******************    CONTENT_EDITABLE COLORS   *******************/
$border_bottom_primary_color: #9a9a9a;
$border_bottom_valid_color: #3fa300;
$border_bottom_invalid_color: #f53b3b;

/*******************    BACKGROUND COLORS   *******************/
$bg-color: #E6E6E6; /* основной серый фон */
$bg-color-light: #F1F1F1;

/*******************    FONT COLORS   *******************/
$font-color-primary: #363636;
$font-color-accent: #777777;
$link-color: #337ab7;

/*******************    FONTS   ************************/
$font-regular: "Roboto-Regular";
$font-medium: "Roboto-Medium";
$font-bold: "Roboto-Bold";
$font-black: "Roboto-Black";
$font-italic: "Roboto-Italic";
$font-light: "Roboto-Light";
$font-thin: "Roboto-Thin";

/*******************    ICON FONTS   *******************/
$info-icon: 'info-icon';
$wbi-icons: 'wbi-icons';
$font-paginator: 'paginator';
